.app {
  background-color: #EBD6FA;
  margin: 0px;
}

.page {
  background-color: #EBD6FA;
}

.progr {
  font-family: 'Poppins';
  font: bold;
  font-size: 28px;
  color: #F1EEF3;
  text-align: center;
  padding-top: 24px;
}

.table {
  width: 76%;
  border-collapse: collapse;
  background-color: #7917BB; 
  font-family: 'Poppins';
  color: #F1EEF3;
  margin-top: 40px;
  margin-left: 300px;
}

.table th,
.table td {
  padding: 0.5rem; 
  padding-left: 16px;
  vertical-align: top;
}

.table th {
  text-align: left; 
  font-weight: bold;
  background-color: #7917BB; 
  font-family: 'Poppins';
  color: #F1EEF3;
}

.table-cont {
  background-color: #7917BB;
  padding-bottom: 16px;
}

.table th.th-file {
  text-align: left;
  font-weight: bold;
  background-color: #F1EEF3; 
  font-family: 'Poppins';
  color: #17003B;
}

.file-cell {
  background-color: #F1EEF3;  
  font-family: 'Poppins';
  color: #17003B;
  width: 240px;
}

.btn-outline-danger {
  background-color: #F1EEF3;  
  font-family: 'Poppins';
  color: #17003B;  
  border-radius: 10px;
  border: none;
}

.btn-sm {
  font-size: 1rem;
  padding: 8px, 16px;  
}

.btn-outline-danger:hover {
  background-color: #EBD6FA;  
  cursor: pointer;
}

.header-1 {
  font-family: 'Poppins';
  color: #17003B;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  background-color: #EBD6FA;
}

/* add */

.add-w {
  background-color: #EBD6FA;
  font-family: 'Poppins';
  color: #17003B;
}

.add-form {
  margin: auto;
}

.form-col {
  padding: 48px 64px;
  border-radius: 30px;
  background-color: #F1EEF3;
  font-family: 'Poppins';
  color: #17003B;
}

.pic-col {
  padding-right: 150px;
}

.add-inps {
  margin-bottom: 16px;
  color: #17003B;
}

.add-inp-w {
  font-family: 'Poppins';   
  margin-bottom: 16px;
  color: #887C8F;
}

input[type="number"] {
  background-color: #FFF;
  color: #17003B;
  border: 1px solid #887C8F;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Poppins';
  width: 200px;
}

input[type="date"] {
  background-color: #FFF;
  color: #17003B;
  border: 1px solid #887C8F;
  border-radius: 3px;
  font-size: 16px;
  width: 200px;
}

/* login-reg */

.auth {
  width: 240px;
  font-family: 'Poppins';
  color: #17003B; 
  padding: 48px 64px;
  border-radius: 30px;
  background-color: #F1EEF3;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  text-align: center;
  font-family: 'Poppins';
  color: #17003B; 
  font-size: 24px;
}

.ext-btn {
  margin-bottom: 16px;
  text-align: right;
  margin-right: 32px;
}